@import 'home.css';

nav {
    justify-content: flex-end;
}

#home-button {
    right: 15px;
    top: 10px;
    letter-spacing: 0.1em;
    color: black;
    border-radius: 8px;
    background-color: rgba(255, 255, 255);
    padding: 0.75rem;
    margin: 0.1rem;
}

#home-button:hover {
    transform: scale(1.1)
}


input[type="submit"] {
    background-color: steelblue;
    color: white
}

#activity-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem;
    margin-bottom: 3rem;
    position: relative
}

#activity-header h1 {
    font-size: 150px;
    margin: 0.5rem
}

#activity-header p {
    color: white;
    width: 60%;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 1.3;
    padding: 1rem;
}

#name-the-list {
    display: flex;
    justify-content: center;
}

#packing-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px;
}

.category-card {
    text-align: center;
    padding: 15px 40px;
    height: auto;
    width: 300px;
    margin: 20px;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(106, 93, 93, 0.85);
    background-color: rgba(45, 35, 35, 0.2);
}

.category-card p {
    font-size: 14px;
}

.category-card:hover {
    transform: scale(1.1)
}

h3 {
    letter-spacing: 4px;
}

.gear-bullet a{
    color: steelblue;
}

.label-input {
    margin: 20px 5px;
    padding: 0.5rem;
    border-radius: 8px;
}

#list-name.label-input {
    width: 25%;
}


