@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import 'meyer-reset.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-size: cover;
}


h1 {
    color: rgba(255, 255, 255, 0.3);;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    font-size: 100px;
    letter-spacing: 10px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px; 
    text-transform: capitalize;
}   

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 14px;
}

img {
    width: 300px;
    height: 200px;
    border-radius: 10px 100%;
}

img:hover {
    border-radius: 8px;
    transform: scale(2)
}

a:hover {
   color:   rgb(9, 60, 9);
}
a:visited {
   color: black;
}

a:link {
    color:  white;
}

header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    padding: 10px 0 10px 0;
    width: 100%;
}

#title {
    position: absolute;
    margin: 135px 0 0 0;
}

#profile-button {
   position: absolute;
   right: 15px;
   top: 10px;
   -webkit-text-stroke-width: 0px;
   letter-spacing: 0.1em;
   color: white;
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 1rem
}

#profile-button:hover{
    transform: scale(1.25)
}

main > p {
    font-size: 15px;
    padding: 30px 0;
    text-align: center;

}
#activity-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0.5rem
}

.display-card {
    padding: 5rem;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 10px 85%;
    background-size: cover;
    width: 30%;
    background-color: grey;
    height:
}

.display-card:hover {
    border-radius: 8px;
    transition: border-radius 1s;
}

footer {
    border-top: solid 5px rgb(9, 60, 9);
    color: grey;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin: 1rem
}

footer a:link {
    color:  blue;
}

.gear-bullet {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

/* triangle css */
.triangle {
    position: relative;
    height: 300px;
    clip-path: polygon(55% 0, 5% 100%, 80% 100%);
    width: 100%;
    margin: 2rem;
}

.triangle div {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: rgba(31, 28, 28, 0.85)
}

.top {
    z-index: 1;
}

#home-page-header {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06653b48-43c3-403f-9d72-c1c5519db560/dd3pza8-930e0f24-e194-495d-90a6-bf6e66fdbe79.jpg/v1/fill/w_1194,h_669,q_70,strp/stone_wall_by_pajunen_dd3pza8-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDc2IiwicGF0aCI6IlwvZlwvMDY2NTNiNDgtNDNjMy00MDNmLTlkNzItYzFjNTUxOWRiNTYwXC9kZDNwemE4LTkzMGUwZjI0LWUxOTQtNDk1ZC05MGE2LWJmNmU2NmZkYmU3OS5qcGciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.TZhslY79iAeVhmkle4q6BTkwU2Vk3nGd3cKcgAtXOGc');
}



