@import 'home.css';

#profile-header {
    background-image:url("https://www.expocafeperu.com/w/2020/04/essential-backpacking-gear-hiking-list-granite-crown-rain-swiss-carry-on-luggage-camping-trailer-top-ratings-womens-bike-for-women-ultralight-extreme-labs-baby.jpg");
    background-repeat: no-repeat;
    display: flex;
    padding: 50px;

}

.activity-card {
    padding: 5rem;
    text-align: center;
    justify-content: space-around;
    width: 20%;
    background-repeat: no-repeat;
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 10px 85%;
    background-size: cover;

}

#activity-section {
    display: flex;
    flex-flow: row wrap;
    font-size: 25px;
    justify-content: space-around;
}

#home-button {
    display: flex;
    justify-content: flex-end;
}

.activity-card:hover {
    border-radius: 8px;
    transition: border-radius 1s;
}