@import 'home.css';

#profile-header {
    background-image:url("https://www.expocafeperu.com/w/2020/04/essential-backpacking-gear-hiking-list-granite-crown-rain-swiss-carry-on-luggage-camping-trailer-top-ratings-womens-bike-for-women-ultralight-extreme-labs-baby.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

#home-button {
    display: flex;
    justify-content: flex-end;
}

.pack-card{
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 100px 30%;
    width: 30%;
    border: solid black 2px;
}

.pack-card:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

h3 a:link {
    color: black;
    text-align: center
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column
}

input {

}